{
	"presets": [
		"env"
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
		"transform-export-extensions",
		"transform-es2015-modules-umd",
		[
			"transform-runtime",
			{
				"helpers": false,
				"polyfill": false,
				"regenerator": true
			}
		]
	]
}
